.popup__submit-button {
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #fff;
    background-color: #000;
    height: 46px;
    border-radius: 2px;
    cursor: pointer;
}

.popup__submit-button:hover {
    opacity: 0.8;
}

@media (min-width: 768px) {
    .popup__submit-button {
        height: 50px;
        font-size: 18px;
        line-height: 22px;
    }
}