.profile__subtitle {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 282px;
}

@media (min-width: 1024px) {
    .profile__subtitle {
        font-size: 18px;
        line-height: 22px;
        text-align: start;
        max-width: 336px;
    }
}