.popup__close {
    width: 20px;
    height: 20px;
    border: none;
    padding: 0;
    background: none;
    background-image: url(../../../image/Close-Icon.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 16px;
    margin-left: auto;
    cursor: pointer;
}

.popup__close:hover {
    opacity: 0.6;
}

@media (min-width: 768px) {
    .popup__close {
        width: 32px;
        height: 32px;
        margin-bottom: 8px;
        margin-right: -40px;
    }
}