.popup__close {
    width: 20px;
    height: 20px;
    border: none;
    padding: 0;
    background: none;
    background-image: url(../../../image/Close-Icon.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -32px;
    right: 0;
}

.popup__close:hover {
    opacity: 0.6;
}

@media (min-width: 768px) {
    .popup__close {
        width: 32px;
        height: 32px;
        right: -40px;
        top: -40px;
    }
}