.elements__delete {
    width: 18px;
    height: 19px;
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    background-image: url(../../../image/Trash.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
}

.elements__delete:hover {
    opacity: 0.6;
}