.profile__info {
    margin-bottom: 36px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 336px;
    flex-wrap: wrap;
}

@media (min-width: 1024px) {
    .profile__info {
        margin: 0;
    }
}