.profile__like {
    width: 22px;
    height: 19px;
    border: none;
    background-color: #fff;
    background-image: url(../../../image/Vector2.svg);
    align-self: center;
    cursor: pointer;
    margin-bottom: 3px;
}

.profile__like:hover {
    opacity: 0.5;
}