.popup__field {
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.popup__field:not(:last-child) {
    margin-bottom: 45px;
}

@media (min-width: 768px) {
    .popup__field:not(:last-child) {
        margin-bottom: 48px;
    }
}